@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;

}

body {
    font-family: 'Work Sans', sans-serif;

}

/* NAV  */
nav {}

.nav-container {
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    /* padding: 20px; */



}

.logo-container {
    display: flex;
    width: 50%;
    border: 1px solid red;
    padding: 10px;
}

.logo-container img {
    width: 70.041px;
    height: 40px;
    margin-right: 20px;
    margin-top: 25px;
}

.logo-container p {
    font-size: 30px;
    border: 1px solid blue;
    font-weight: 700;
}

.hive-section {
    color: #e893cf;
}


.nav-items-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items-container a {
    text-decoration: none;
    font-size: 25px;
    color: white;
}

.nav-items-container .login-btn {
    background-color: #e893cf;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 5px;
    color: black;
    text-align: center;

}

.nav-three {
    width: 50%;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    justify-content: space-between;
    align-items: center;


}


/* banner start*/
.banner-container {

    border: 1px solid red;
    margin: 50px auto 0;
    max-width: 1400px;
    min-height: 50px;
    display: flex;
    /* background-color: #e6e9eb; */
    padding: 10px;
    border-radius: 10px;

}


.banner-text {
    border: 1px solid rgb(5, 232, 100);
    width: 50%;
    /* text-align: center; */

    background-image: url("./images/Group\ 14.png");
}

.banner-h1 {
    color: #0B0223;
    /* text-align: center; */
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: -100px;
    margin-top: 100px;
    margin-left: 100px;
}

.banner-word-colour {
    background-image: linear-gradient(to bottom, #9376e0, #e893cf);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 95px;
    font-weight: 800;
    margin-top: 100px;
    margin-left: 100px;
}

.banner-p {

    margin-left: 100px;
}

.banner-img {
    border: 1px solid rgb(88, 7, 209);
    width: 50%;
    border-radius: 10px;

}

.banner-img img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}

.banner-button1 {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));

    padding: 20px 40px;
    border: 2px solid #9376e0;
    margin-right: 20px;
    border-radius: 48px;

    margin-top: 30px;
    color: #FFF;
    margin-left: 100px;
}

.banner-button2 {
    background: #4EC5F7;
    padding: 20px 40px;
    border: 2px solid #9376e0;
    margin-right: 20px;
    border-radius: 48px;

    margin-top: 30px;
    color: #FFF;
}


/* banner end*/

/* Play Games Online start */

/* discount start*/


.discount-section {
    margin-top: 100px;
    /* background-color: #9376e0; */
    min-height: 800px;
    padding: 15px 0;
    border: 1px solid rgb(4, 245, 57);
}

.discount-container {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;


    min-height: 200px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(234, 107, 2);
}

.discount-img {
    width: 50%;
    position: relative;
    border: 1px solid rgb(41, 5, 220);

}

.discount-img1 {
    width: 80%;
    height: 100%;
    display: block;

}

.discount-img2 {
    width: 230px;
    height: 250px;
    display: block;

}

.discount-text {
    width: 50%;
    border: 1px solid rgb(16, 15, 15);
    text-align: center;
}


.discount-number {
    background-color: rgb(128, 128, 16);
    height: 90px;
    width: 90px;
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80%;
    left: 70%;

}

.discount-text-h3 {
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 125% */
}

.discount-text-p {
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.discount-text-h3-s1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.discount-text-h3-s2 {
    color: rgba(135, 88, 241, 1);
}





/* discount end*/
/* Play Games Online end */




/*  game click start */
/* review start  */



.review-container {
    max-width: 1400px;
    border: 1px solid red;
    gap: 10px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;

    width: 70%;

    margin: 0 auto;

    align-content: center;
    justify-content: space-evenly;


}

.single-review {
    border: 1px solid green;
    flex-basis: 180px;
    height: 80px;
    /* height: 500px; */
    padding: 10px;
    border-radius: 50px;
    background: #FFF;
}

.single-review img {
    height: 40px;
    width: 20ppx;
}

.top-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-review-p {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.review-container1 {
    display: none;
}


/* review end */
/*  game click end */





/* footer start */

.f1 {
    background: #0B0223;
}

.footer {
    margin-top: 50px;
    height: 1000px;
    width: 900px;
    margin: 0 auto;
    background: #0B0223;
    text-align: center;
    color: white;
    border: 1px solid red;

}

.footer-logo {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding-top: 80px;
}

.hive-section2 {
    color: white;
}

.footer-describtion {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.icons-container {
    padding-top: 50px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 40px;
    border: 1px solid rgb(20, 187, 9);
}

.fa-brands {
    font-size: 50px;
}

.footer-describtion2 {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer-copy-write {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* footer end */