@media screen and (min-width:426px) and (max-width: 768px)  {


    /* nav start*/
    .nav-container {

        flex-direction: column;
        font-size: 20px;
    }

    .nav-items-container {
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }
    .logo-container {
        display: flex;
        width: 90%;
        /* border: 1px solid rgb(64, 12, 196); */
        padding: 10px;
        /* margin: 0 auto; */
        /* text-align: center;
        align-items: center; */
        justify-content: center;
    }
    

    .nav-items-container a {
        margin-top: 20px;
    }

    .nav-items-container .login-btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .nav-three {
        width: 60%;
        border-radius: 8px;
        background: rgba(11, 2, 35, 0.10);
        display: flex;
        justify-content: space-between;
        align-items: center;





    }

    /* nav end */

    /* banner start */
    .banner-container {

        flex-direction: column;
        gap: 100px;
        font-size: 20px;




    }

    .banner-text {}

    .banner-text,
    .banner-img {
        width: 95%;
        margin-bottom: 15px;
        /* padding: 50px; */

        text-align: center;
        /* justify-content: center; */

        margin: 0 auto;
        margin-left: 10px;

    }

    .banner-h1 {
        color: #0B0223;
        /* text-align: center; */
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        /* margin-bottom: -100px; */
        margin-left: 10px;
    }

    .banner-word-colour {
        background-image: linear-gradient(to bottom, #9376e0, #e893cf);
        color: transparent;
        -webkit-background-clip: text;
        font-size: 55px;
        font-weight: 800;
        /* padding-top: 50px; */
        margin-left: 10px;
    }

    .banner-p {
        margin-left: 10px;
    }


    .banner-button1 {
        background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));

        padding: 20px 30px;
        border: 2px solid #9376e0;
        margin-right: 20px;
        border-radius: 48px;
        color: #FFF;
        font-size: 20px;

        margin-top: 30px;
        margin-left: 10px;
    }

    .banner-button2 {
        background: #4EC5F7;
        padding: 20px 30px;
        border: 2px solid #9376e0;
        margin-right: 20px;
        border-radius: 48px;

        font-size: 15px;

        margin-top: 30px;
        color: #FFF;
        font-size: 20px;
    }

    /* banner end*/

    /* Online Games Funny Videos start */

    .fuuny-container {
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        text-align: center;
        margin: 0 auto; 
        gap: 70px;
        font-size: 20px;
    }


    /* Online Games Funny Videos end */


    /* Play Games Online start */
    /* discount start*/

    .discount-container {

        flex-direction: column;
        padding: 0 auto;
        gap: 130px;
    }

    .discount-img {
        width: 98%;
        height: 100%;
    }

    .discount-img1 {
        width: 82%;
        height: 100%;
        display: block;

    }

    .discount-img2 {
        width: 320px;
        height: 260px;
        display: block;

    }

    .discount-text {
        width: 98%;
        text-align: center;
        padding-top: 50px;
    }

    .discount-number {
        background-color: rgb(128, 128, 16);
        height: 90px;
        width: 90px;
        font-size: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 90%;
        left: 75%;

    }

    /* discount end*/
    /* Play Games Online end */




    /*  game click start */
    /* review start  */

    .review-container {
        display: none;
    }

    .review-container1 {
        max-width: 1400px;
        height: 100px;
        /* border: 1px solid rgb(17, 208, 65); */
        gap: 5px;
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;

        width: 99%;

        margin: 0 auto;

        align-content: center;
        justify-content: space-between;
        margin-bottom: 50px;
        font-size: 25px;


    }

    .single-review {
        /* border: 1px solid green; */
        flex-basis: 230px;
        height: 50px;
        /* height: 500px; */

        padding: 5px;
        border-radius: 50px;
        background: #FFF;
       
       
    }

    .single-review:hover {
        width: 200px;
        height: 60px;
        border: 1px solid #FF42A5;
        border-radius: 50px;
        background: #FFF;
        font-family: Work Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .single-review img {
        height: 50px;
        width: 15ppx;
        margin-right: 10px;
    }

    .top-review {
        display: flex;
        /* justify-content: space-around; */
        align-items: center;
    }

    .top-review-p {
        color: #0B0223;
        font-family: Work Sans;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        
    }





    /* review end */
    /*  game click end */


    /* footer start */


    .f1 {
        background: #0B0223;
        
    }

    .footer {
        margin-top: 50px;
        height: 1000px;
        width: 90%;
        margin: 0 auto;
        background: #0B0223;
        text-align: center;
        color: white;
        
        /* border: 1px solid red; */

    }

    .footer-logo {
        width: 90%;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        padding-top: 40px;
        margin: 0 auto;
    }

    .hive-section2 {
        color: white;
    }

    .footer-describtion {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        justify-content: space-around;
        color: #FFF;
        text-align: center;
        font-family: Work Sans;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 0 auto;
        font-size: 25px;
    }

    .icons-container {
        padding-top: 50px;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-content: space-between;
        margin: 0 auto;
        /* border: 1px solid rgb(20, 187, 9); */
    }

    .fa-brands {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .footer-describtion2 {
        padding-top: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        justify-content: space-around;
        color: rgba(255, 255, 255, 0.60);
        text-align: center;
        font-family: Work Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 25px;
    }

    .footer-copy-write {
        padding-top: 45px;
        color: rgba(255, 255, 255, 0.60);
        text-align: center;
        font-family: Work Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }


    /* footer end */








}